.orbits {
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    zoom: .1;
    white-space: nowrap;
}

#mercurydiv {

    width: 2500px;
    height: 2500px;

    margin-left: -1250px;
    margin-top: -1250px;

    animation: orbit 10s linear infinite normal 1s;
    -moz-animation: orbit 10s linear infinite normal 1s;
    -webkit-animation: orbit 10s linear infinite normal 1s;
}

#venusdiv {
    width: 3000px;
    height: 3000px;

    margin-left: -1500px;
    margin-top: -1500px;

    animation: orbit 15s linear infinite normal 1s;
    -moz-animation: orbit 15s linear infinite normal 1s;
    -webkit-animation: orbit 15s linear infinite normal 1s;
}

#earthdiv {
    width: 3500px;
    height: 3500px;

    margin-left: -1750px;
    margin-top: -1750px;

    animation: orbit 20s linear infinite normal 1s;
    -moz-animation: orbit 20s linear infinite normal 1s;
    -webkit-animation: orbit 20s linear infinite normal 1s;
}

#marsdiv {
    width: 4000px;
    height: 4000px;

    margin-left: -2000px;
    margin-top: -2000px;

    animation: orbit 25s linear infinite normal 1s;
    -moz-animation: orbit 25s linear infinite normal 1s;
    -webkit-animation: orbit 25s linear infinite normal 1s;
}

#jupiterdiv {
    width: 4500px;
    height: 4500px;

    margin-left: -2250px;
    margin-top: -2250px;

    animation: orbit 30s linear infinite normal 1s;
    -moz-animation: orbit 30s linear infinite normal 1s;
    -webkit-animation: orbit 30s linear infinite normal 1s;
}

#saturndiv {
    width: 5000px;
    height: 5000px;

    margin-left: -2500px;
    margin-top: -2500px;

    animation: orbit 35s linear infinite normal 1s;
    -moz-animation: orbit 35s linear infinite normal 1s;
    -webkit-animation: orbit 35s linear infinite normal 1s;
}

#uranusdiv {
    width: 5500px;
    height: 5500px;

    margin-left: -2750px;
    margin-top: -2750px;

    animation: orbit 40s linear infinite normal 1s;
    -moz-animation: orbit 40s linear infinite normal 1s;
    -webkit-animation: orbit 40s linear infinite normal 1s;
}

#neptunediv {
    width: 6000px;
    height: 6000px;

    margin-left: -3000px;
    margin-top: -3000px;

    animation: orbit 45s linear infinite normal 1s;
    -moz-animation: orbit 45s linear infinite normal 1s;
    -webkit-animation: orbit 45s linear infinite normal 1s;
}

#plutodiv {
    width: 6500px;
    height: 6500px;

    margin-left: -3250px;
    margin-top: -3250px;

    animation: orbit 50s linear infinite normal 1s;
    -moz-animation: orbit 50s linear infinite normal 1s;
    -webkit-animation: orbit 50s linear infinite normal 1s;
}