#solar-system {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
}

#mercury, #venus,
#earth, #mars, #jupiter,
#saturn, #uranus, #neptune, #pluto{
    position: inherit;
    left: 50%;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2000px;
    width: 2000px;
    zoom: .1;

    border-radius: 50%;

    box-shadow: 0 0 250px red;

    margin-top: -1000px;
    margin-left: -1000px;
}

.info-text {
    position: inherit;
    left: 55%;
    margin-top: -10px;
    opacity: 0;
    zoom: 1;
    font-family: 'Michroma', sans-serif;
    font-size: 1200%;
    color: ghostwhite;
    text-align: left;
    z-index: 50;
    cursor: default;
}

#sun-info {
    position: absolute;
    zoom: .1;
    left: 61%;
    top: 50%;
}