#solar-system {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
}

#mercury, #venus,
#earth, #mars, #jupiter,
#saturn, #uranus, #neptune, #pluto{
    position: inherit;
    left: 50%;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2000px;
    width: 2000px;
    zoom: .1;

    border-radius: 50%;

    box-shadow: 0 0 250px red;

    margin-top: -1000px;
    margin-left: -1000px;
}


#mercury {
    margin-left: -4px;
    margin-top: -4px;
}

#venus {
    margin-left: -10px;
    margin-top: -10px;
}

#earth {
    margin-left: -10px;
    margin-top: -10px;
}

#mars {
    margin-left: -6px;
    margin-top: -6px;

}

#jupiter {
    margin-left: -111px;
    margin-top: -111px;
}

#saturn {
    margin-left: -194px;
    margin-top: -194px;
}

#uranus{
    margin-left: -40px;
    margin-top: -40px;
}

#neptune {
    margin-left: -39px;
    margin-top: -39px;
}

#pluto {
    margin-left: -2px;
    margin-top: -2px;
}


.info-text {
    position: inherit;
    left: 55%;
    margin-top: -10px;
    opacity: 0;
    zoom: 1;
    font-family: 'Michroma', sans-serif;
    font-size: 1200%;
    color: ghostwhite;
    text-align: left;
    z-index: 50;
    cursor: default;
}

#sun-info {
    position: absolute;
    zoom: .1;
    left: 61%;
    top: 50%;
}