#side-navbar {
    width: 50%;
    height: 100%;
    margin: 0 0 0 -20%;
    z-index: 21;
    transition: all 1s ease;
}

#side-navbar:hover {
    margin: 0;
    transition: all 1s ease;
}
#planets-list {
    position: absolute;
    height: 100%;
    width: 20%;

    font-family: 'Michroma', sans-serif;
    color: ghostwhite;
    list-style-type: none;
    z-index: 20
}

.planets {
    padding: 10px 0 10px 0;
}

.bar {
    position: absolute;
    height: 1px;
    background-color: grey;
    width: 50%;
    margin: -10px 0 -10px 0;
}
