#side-navbar {
    position: absolute;
    height: 100%;
    width: 200px;
    margin: 0 -180px 0;
    z-index: 21;
    transition: all 1s ease;
}

#side-navbar:hover {
    margin-left: 0;
    transition: all 1s ease;
}
#planets-list {
    position: absolute;
    left: -30px;
    height: 100%;
    width: 60%;
    list-style-type: none;
    z-index: 20;
}

.planet-text {
    margin-top: 30px;
    margin-left: 0;
    font-family: 'Michroma', sans-serif;
    color: ghostwhite;
    text-align: left;
    opacity: 1;
    transition: all .3s ease;
}

.planet-text:hover {
    margin-left: 20px;
    cursor: pointer;
    color: gold;
    transition: all .3s ease;
}

